# Crear una lista

In [200]:
planeta = ['Mercurio','Venus','Tierra','Marte','Jupiter','Saturno','Urano','Neptuno']

# Acceder a elementos de lista por índice

In [201]:
print('El primer planeta es', planeta[0])
print('El segundo planeta es', planeta[1])
print('El tercer planeta es', planeta[2])
print('El cuarto planeta es', planeta[3])
print('El quinto planeta es', planeta[4])
print('El sexto planeta es', planeta[5])
print('El septimo planeta es', planeta[6])
print('El octavo planeta es', planeta[7])

El primer planeta es Mercurio
El segundo planeta es Venus
El tercer planeta es Tierra
El cuarto planeta es Marte
El quinto planeta es Jupiter
El sexto planeta es Saturno
El septimo planeta es Urano
El octavo planeta es Neptuno

Modificar el nombre del indice a un apodo

In [202]:
planeta[4]='Planeta rojo'
print('Marte tambien es conocido como planeta rojo', planeta[3])

Marte tambien es conocido como planeta rojo Marte

In [203]:
print(planeta[3])

Marte

In [204]:
print(planeta)

['Mercurio', 'Venus', 'Tierra', 'Marte', 'Planeta rojo', 'Saturno', 'Urano', 'Neptuno']

# Determinar la longitud de una lista

In [205]:
numero_de_planetas = len(planeta)
print('Existen', numero_de_planetas, 'planetas en el sistema solar')

Existen 8 planetas en el sistema solar

# Agregar a listas de valores

In [206]:
planeta.append('pluto')
numero_de_planetas=len(planeta)
print('Contando los planetas enanos hay', numero_de_planetas,'planetas en el sistmea solar')

Contando los planetas enanos hay 9 planetas en el sistmea solar

# Eliminar valores de una lista

In [207]:
planeta.pop() #Goodbye, pluto
numero_de_planetas=len(planeta)
print('No definitivamente sin contar los planetas enanos hay',numero_de_planetas,'planetas en el sistema solar')

No definitivamente sin contar los planetas enanos hay 8 planetas en el sistema solar

In [208]:
numero_de_planetas=len(planeta)
print(planeta)

['Mercurio', 'Venus', 'Tierra', 'Marte', 'Planeta rojo', 'Saturno', 'Urano', 'Neptuno']

# Indices negativos

In [209]:
print('El primer planeta es',planeta[0])

El primer planeta es Mercurio

In [210]:
print('El ultimo planeta es',planeta[-1])
print('El ultimo planeta es',planeta[-2])
print('El antepenultimo planeta es',planeta[-3])
print('El planeta en el que vivimos es',planeta[-6])

El ultimo planeta es Neptuno
El ultimo planeta es Urano
El antepenultimo planeta es Saturno
El planeta en el que vivimos es Tierra

# Buscar un valor en una lista

In [211]:
tierra_index=planeta.index('Tierra')
print('La tierra es el no.',tierra_index+1,'del sistema solar')

La tierra es el no. 3 del sistema solar

Indices negativos

In [212]:
print('El primer plantea es',planeta[0])

El primer plantea es Mercurio

# Almacenar numeros en listas

In [213]:
gravedad_en_tierra = 1.0
gravedad_en_el_moon= 0.166

In [214]:
gravedad_en_los_planetas=[0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]
gravedad_en_los_planetas[0]

0.378

Calcular el peso de un bus de dos pisos en diferentes planetas obteniendo el valor de la lista:

In [215]:
peso_del_bus=12650 #en kg en la tierra
print('En la tierra un auto bus pesa',peso_del_bus,'KG')
print('En Mercurio el auto bus pesa',peso_del_bus*gravedad_en_los_planetas[0],'KG')
print("En saturno el bus pesa",peso_del_bus*gravedad_en_los_planetas[5],'KG')
print('En urano bus pesa',peso_del_bus*gravedad_en_los_planetas[6],'KG')

En la tierra un auto bus pesa 12650 KG
En Mercurio el auto bus pesa 4781.7 KG
En saturno el bus pesa 11587.4 KG
En urano bus pesa 11245.85 KG

# min() y max() con listas

In [216]:
min(gravedad_en_los_planetas)
# Ejemplo
print('La gravedad mas pequeña en el sistema solar el',min(gravedad_en_los_planetas))
print('La gravedad mas alta del sistema solar es',max(gravedad_en_los_planetas))

La gravedad mas pequeña en el sistema solar el 0.378
La gravedad mas alta del sistema solar es 2.36

In [218]:
peso_del_bus=12650 
print('En la tierra un bus de dos pisos pesa',peso_del_bus,'KG')
print('El peso mas liviano en el sistema solar es de', peso_del_bus * min(gravedad_en_los_planetas),'Kg')
print('El peso mas alto en el sistema solar es de', peso_del_bus * max(gravedad_en_los_planetas),'Kg')

En la tierra un bus de dos pisos pesa 12650 KG
El peso mas liviano en el sistema solar es de 4781.7 Kg
El peso mas alto en el sistema solar es de 29854.0 Kg

# Manipular datos de lista

Lista de cortes

In [219]:
planeta = ['Mercurio','Venus','Tierra','Marte','Jupiter','Saturno','Urano','Neptuno']
planetas_antes_de_la_tierra=planeta[0:2]
print('Los planetas antes de la tierra son',planetas_antes_de_la_tierra)

Los planetas antes de la tierra son ['Mercurio', 'Venus']

In [220]:
planetas_antes_de_la_tierra=planeta[3:8]
print('Los planetas despues de la tierra son',planetas_antes_de_la_tierra)

Los planetas despues de la tierra son ['Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [221]:
planetas_antes_de_la_tierra=planeta[3:]
print(planetas_antes_de_la_tierra)

['Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

# Uniendo listas

In [222]:
amaltea_grupo = ['Metis','Adrastea','Amalthea','thebe']
galilean_lunas = ['Io','Europa','Ganymede','Callisto']
lunas_satelitales_regularees= amaltea_grupo+galilean_lunas
print("Las lunas satelitales de Jupiter son", lunas_satelitales_regularees)

Las lunas satelitales de Jupiter son ['Metis', 'Adrastea', 'Amalthea', 'thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

# Ordenar listas

In [223]:
lunas_satelitales_regularees.sort()
print('Las lunas satélite regulares de Júpiter son',lunas_satelitales_regularees )

Las lunas satélite regulares de Júpiter son ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'thebe']