## Suma

In [3]:

sum = 1+2
print("El resultado de la suma es=", sum)

El resultado de la suma es= 3

## Print()

In [4]:
print("Hola mundo")

Hola mundo

## Variables

In [9]:
sum = 1+2#3
product = sum*2
print("El resultado del producto=", product)

El resultado del producto= 6

In [12]:
sum = 3+9
product = sum*2
print("El resultado del producto es=", product)

El resultado del producto es= 24

In [13]:
distancia_a_alfa_centuri = 4.367
type(distancia_a_alfa_centuri)

float

In [14]:
transbordador_que_aterrizo_en_la_luna = "Apollo 11"
type(transbordador_que_aterrizo_en_la_luna)

str

In [15]:
planetas_en_el_sistema_solar = 8
type(planetas_en_el_sistema_solar)

int

## Operadores

In [17]:
left_side = 10
ringht_side = 5
left_side / ringht_side # 2

2.0

## Fechas

In [23]:
from datetime import date
date.today()
print(date.today())

2022-02-11

In [25]:
print("La fecha de hoy es: " + str(date.today()))

La fecha de hoy es: 2022-02-12

## Entrada al Usuario

In [30]:
print("----Hola bienvenido al programa---- ")
name = input("Introdusca su nombre")
print("Un gusto:" + name)

----Hola bienvenido al programa----
Un gusto:Francisco Javier Hernandez Camacho

## Trabajar con números

In [41]:
print("Calculadora")
primer_numero = input("Primer número: ")
segundo_numero = input("Segundo número: ")
print('El resultado de la suma es=', int(primer_numero) + int(segundo_numero))

Calculadora
El resultado de la suma es= 7